<div class="posts">


<% @posts.each do |post| %>
  <div class="post">
    <h3><%= link_to post.title, post %></h3>		
    <div class="post_body"><%= raw RedCloth.new(post.body.truncate(300)).to_html %>
    </div>
	
  <p class="readmore"><%= link_to ' Read More', post if post.body.length > 300 %></p>
	<p class="date"><%= post.created_at %></p>
  <p><%= link_to 'Edit | ', edit_post_path(post) if admin_signed_in? %>
	<%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete if admin_signed_in? %></p>

  </div>
<% end %>

</div>

<br />


