<div class="posts">

  <h3><%= @post.title %></h3>
		<div class="post_body"><%= raw RedCloth.new(@post.body).to_html %></div>
				<p class="date">Posted on <%= @post.created_at %></p>

</div>

<div id="appbar">
  <%= link_to 'Edit Post | ', edit_post_path(@post) if admin_signed_in? %>
	<%= link_to 'Delete Post', @post, confirm: 'Are you sure?', method: :delete if admin_signed_in? %>
</div>

<h2>Comments</h2>
<div class="comments">
	<% @post.comments.each do |comment| %>
		<div class="comment">
			<div class="nameImage"><%= image_tag comment.gravatar_url %></div>
			<p class="name"><%= comment.name %> says . . . </p>
			<p class="body"><%= comment.body %></p>
			<p class="comment_date"><%= comment.created_at %></p>
			<p class="destroy_comment"><%= link_to 'Delete Comment', comment, confirm: 'Are you sure?', method: :delete if admin_signed_in? %></p>
		</div>
	<% end %>
</div>

<div class="form">
	<%= form_for(@post.comments.new) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<%= f.hidden_field :post_id %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<p class="navback"><%= link_to 'Back to the Blog', posts_path %></p>
