<p id="notice"><%= notice %></p>
<div class="posts">
<p>
  <h3><%= @post.title %></h3>
</p>

<p>
  <%= @post.body %>
</p>
</div>

<%= link_to 'Edit', edit_post_path(@post) if admin_signed_in?  %> |
<%= link_to 'Back', posts_path %>
