<!DOCTYPE html>
<html>
<head>
  <title>Sarah Riggs, Information Scientist</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="top"></div>
	
	<div id="ribbon">
	
		 <div id="center"><img src="images/sarahriggs.png">
	
				<p class="right"><%= link_to 'New Post', new_post_path if admin_signed_in? %></p>

 	   </div>
	</div>


  <div id="middle">
		<div id="middleCenter">
			<% flash.each do |key, msg| %>
 			 <%= content_tag :div, msg, :id => key %>
			<% end %>
	   <%= yield %>
 	 	</div>
	</div>



</body>
</html>
